.orange {
  background-color: orange;
  padding: 10px;
  font-weight: bold;
}
.bg-color {
  background-color: rgba(49, 45, 112, 0.781);
  padding: 10px;
  color: white;
}
.cart-section{
    margin-top: 15px;
}